.cart {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 100;
  @media (min-width: 1250px) {
    position: relative;
    z-index: 0;
  }
  background: var(--white);
  height: 100vh;
  width: 0px;
  overflow: hidden;
  transition: all 0.5s;
  border: 1px solid #ddd;
  box-sizing: border-box;
  float: right;

  h2 {
    margin-top: 0px;
    margin-bottom: 2rem;
  }
}
.showCart {
  width: 100%;
  @media (min-width: 600px) {
    width: 500px;
  }
}
.container {
  padding: 1em;
  box-sizing: border-box;
  width: 100%;
  position: relative;
  @media (min-width: 600px) {
    width: 500px;
    padding: 2em;
  }
}
.clear {
  position: absolute;
  right: 10px;
  top: 20px;
  display: flex;
  @media (min-width: 600px) {
    right: 30px;
    top: 35px;
  }
  p {
    position: relative;
    top: 6px;
    font-weight: 700;
    padding: 0;
    margin: 0;
  }
  font-size: 0.9rem;
}
.btn-delete {
  padding: 6px 10px;
  border: 0px;
  border-radius: 10px;
  margin: 0 5px 0 10px;
  color: var(--white);
  cursor: pointer;
  background-color: var(--secondary);

  &:active {
    animation: 0.2s linear scaleDownOnFocus;
  }
}
.btn-close {
  padding: 6px 10px;
  border: 0px;
  border-radius: 10px;
  margin: 0 10px 0 0;
  color: var(--white);
  cursor: pointer;
  background-color: var(--primary);

  &:active {
    animation: 0.2s linear scaleDownOnFocus;
  }
}
